<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Credit Card Fraud Detection</title>
    <link rel="stylesheet" href="static\css\style.css">
</head>

<body>
    <div class="container">
        <h1>Credit Card Fraud Detection</h1>

        <form method="post" action="/">

            <!-- Time -->
            <label for="Time">Time:</label>
            <input type="number" step="any" name="Time" required>

            <!-- V1 to V28 -->
            <script>
                for (let i = 1; i <= 28; i++) {
                    document.write(`
                        <label>V${i}:</label>
                        <input type="number" step="any" name="V${i}" required>
                    `);
                }
            </script>

            
            <!-- Amount -->
            <label for="Amount">Amount:</label>
            <input type="number" step="any" name="Amount" required>

            <!-- Hour -->
            <label for="Hour">Hour:</label>
            <input type="number" step="any" name="Hour" required>

            <!-- time_diff -->
            <label for="Time Difference">Time Difference:</label>
            <input type="number" step="any" name="time_diff" required>

            <button type="submit">Predict</button>
        </form>

        <form method="get" action="/train">
            <button type="submit" class="train-button">Train Model</button>
        </form>

        {% if context %}
            <div class="result">
                <h2>Result: {{ context }}</h2>
            </div>
        {% endif %}

    </div>
</body>
</html>